<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Tracker App!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css"> -->

</head>
<body>
    <header>
        <h1>Game Tracker App</h1>
        <h2>Powered by Steam<sup>&reg;</sup></h2>
    </header>

    <main class="dashboardMain">
        <div class="dashboardDiv1">
            <h1>Welcome, <%= user.steamUserName %></h1>
            <h2><%= user.steamUserName %> currently owns <%= user.gamesOwned.length %> games!</h2> 
        </div>

        <div class="dashboardDiv2">
            <ul>
                <% user.gamesOwned.forEach( el => { %>
                    <li class='game' data-id='<%=el%>'>
                    <a href='/steam/<%= user.steamID %>/<%= el %>'><%= el %></a>
                    </li>
                <% }) %>
            </ul>

        </div>

        <button class="logoutButton"><a href="/logout">Logout</a> <i class="fa-solid fa-right-from-bracket"></i> </button>

    </main>

    
    <footer>
        <div>
            <h4>#100Devs</h4>
        </div>
    </footer>

    <!-- <script src="js/main.js"></script> -->
</body>
</html>