
    <main class="dashboardMain">
        <div class="dashboardDiv1">
            <h1>Welcome, <%= user.steamUserName %></h1>
            <h2><%= user.steamUserName %> currently owns <%= user.gamesOwned.length %> games!</h2> 
        </div>

        <div class="dashboardDiv2">
            <ul>
                <% user.gamesOwned.forEach( el => { %>
                    <li class='game' data-id='<%=el%>'>
                    <a href='/steam/<%= user.steamID %>/<%= el %>'><%= el %></a>
                    </li>
                <% }) %>
            </ul>

        </div>

        <% if (user) { %>
            <a href="/logout">Logout</a>
          <% } %>

